@model Vehicle 

<h2>This is Vehicle Details Page</h2>
<div>
    <h3>ID: @Model.Id, Year: @Model.Year, Make: @Model.Make, Model: @Model.Model,Price: @Model.Price, Mileage: @Model.Mileage,MPG: @Model.MPG</h3>
</div>